body {
    margin-left: 20px;
    padding: 0;
    font-family: "Consolas", Helvetica, Arial, sans-serif;
    background-color: #fcfaf6;
}

h1 {
    margin-left: 20px;
    font-size: 60px;
    color: #f07de4; 
    text-align: center;
    border-style: solid;
    border-color: rgb(99, 72, 14);
}

h2 {
    text-align: center;
}

.custom {
    font-size: 20px;
    color: #b284e6; 
    text-align: center;
}

a {
    color: rgb(99, 72, 14);
}

a:hover {
    color: #f07de4;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}